.app {
    background-color: #24252a;
    font-family: 'Roboto';
    position: fixed;
    height: 100%;
    width: 100%;
}

.center {
    color: white;
    text-align: center;
}

.wrapper {
    position: relative;
}

.text {
    font-size: 350%;
    color: white;
    position: absolute;
    text-align: center;
    top: 38%;
    width: 100%;
    vertical-align: middle; 
}

.link {
    color: white;
    text-decoration: underline;
    transition: 0.5s;
}

.link:hover {
    transition: 0.5s;
    color: #007bff;
}